
:root {
        --main-color: #980828;
        --secondary-color: #e0e8e8;
     }    
* {
    box-sizing: border-box;
  }
                                                                                                                                                                
body,
html {
    margin: 0;
    padding: 0;
    background-color: #c8c8c0 ;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300 !important;
}

/* animation section */
.preloader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.preloader.complete{
    display: none;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
}
  
  
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  
@keyframes loader {
  
    0% {
        transform: rotate(0deg);
    }  
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
        
@keyframes loader-inner {
      0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
    
}
    /* animation section ends */
       
h1, h2, h3, h4, h5, h6 {
    font-weight: 500 !important;
}   

header {
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    background: none;
    z-index: 1;
}

ul li {
    margin-left: auto;
}
/* home section starts */

#home-section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont {
    height: 530px;
    color: var(--secondary-color);
}


.content h1 {
    line-height: 70px;
    letter-spacing: 2px;
}

.content h2 p {
    letter-spacing: 2px;
}
.content p {
   color: rgb(190, 184, 184);
}

.content button {
    width: 200px;
    padding: 5px 10px;
    margin-top: 10px;
    color: var(--main-color);
    border-radius: 7px;
    border: none;
    outline: none;
    box-shadow: 1px 2px 5px #888888;
}

.profile {
    max-width: 200px;
    border-radius: 30%;
}
/* home section ends */
/* other sections begins */

.sections{
    display: flex;
    width: 100%;
    padding: 15px 0px;
    /* height: 500px; */
    justify-content: center;
}
.sections h2{
    color: var(--main-color);
    margin-bottom: 30px;
}
.sections ul{
    list-style-type: none;
}
.sections i{
    margin: auto;
    height: 90px;
    width: 90px;
    border: none;
    padding-top: 20px;
    border-radius: 50%;
    color: var(--secondary-color);
    background-color:var(--main-color) ;
}

img {
    width: 100%;
    margin-bottom: 30px;
    /* max-height: 450px; */
}

.cont1 {
    display: flex;
    justify-content: center;
}

footer{
    background-image: url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary-color) !important;
}
footer a{
    color: var(--secondary-color);
}

#about-section button,
#contact-section #bt1{
    width: 200px;
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: var(--main-color);
    color: var(--secondary-color) !important;
    border-radius: 7px;
    border: none;
    outline: none;
    box-shadow: 1px 2px 5px #888888;
}
.card{
    max-width: 300px;
    margin: auto;
    min-height: 300px;
    margin-bottom: 10px;
    border: none !important;
}